<app-header titulo="Balance" verBackButton="true" verMenu="true"></app-header>
<ion-content>
  <div class="mesAnio">
    <ion-item>
      <ion-label>Selecccione mes y año</ion-label>
      <ion-note slot="end" id="open-popover1">{{ mes }} {{ dateExample | date:'yyyy'}}</ion-note>
    </ion-item>
    <ion-popover trigger="open-popover1" cssClass="width-80">
      <ng-template>
        <ion-datetime presentation="month-year" size="cover" style="font-size: 40px;"
          (ionBlur)="viewDate($event)"></ion-datetime>
      </ng-template>
    </ion-popover>
    <ion-input></ion-input>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="subtituloMes">Período: {{mes}} / {{anio}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Ingresos:</ion-label>
          <ion-label>{{incomes | currency}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Egresos:</ion-label>
          <ion-label>{{expenses | currency}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Cambios:</ion-label>
          <ion-label>{{changes | currency}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Ganancia bruta:</ion-label>
          <ion-label>{{total | currency}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-footer></app-footer>
