ion-item{
  color: black;
}
.disabled-input {
  color: black !important;
  opacity: 1 !important;
}
#open-popover1{
  font-size: 18px;
  margin-top: -5px;
}
.subtituloMes{
 margin-left: 17px;
 font-size: 18px;
 color: black;
}
