.cardVenta{
  width: 100%;
}

.itemSale{
  display: flex;
  width: 100%;
  flex-direction: row;
}

.columnaDetalleDescripcion{

  text-align: left;
  margin-bottom: -20px;
}

.columnaDetalleCantidad{
  display: flex;
  text-align: right;
  margin-bottom: -20px;
}

.columnaDetalleSubtotal{
  text-align:end;
  margin-bottom: -20px;
  margin-left: -3px;
}
.fechaVenta{
  margin-bottom: -20px;
}

.columna{
  font-size: 15px;
  margin-bottom: -20px;
}
